<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="TraceLogging" switchName="Information">
        <listeners>
          <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\cmbapp\TraefikTraceFile.log" />
      </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>